@use '../../styles/variables' as *;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.closing {
  opacity: 0;
}
.opening {
  opacity: 0;
}

.modal {
  background: $white;
  padding: $padding-layout-lg;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  position: relative;
  margin: $spacing-md;
  @include respond-md {
    padding: $padding-layout-md;
  }
  @include respond-sm {
    padding: $padding-layout-sm;
  }
}

.closeBtn {
  position: absolute;
  top: $spacing-md;
  right: $font-size-xs;
  font-size: $font-size-lg;
  background: none;
  border: none;
  cursor: pointer;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: $spacing-lg;
  gap: $spacing-md;

  button {
    background: none;
    border: none;
    font-size: $spacing-md;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    color: $color-text-dark;
    font-weight: $font-weight-normal;

    &.active {
      color: $color-primary;
      border-bottom-color: $color-primary;
      font-weight: $font-weight-bold;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

.logoWrapper {
  display: flex;
  justify-content: center;
  border-bottom: $color-border solid 1px;
  padding-bottom: $spacing-md;

  img {
    width: 100px;
    height: auto;
  }
}
