@use '../../styles/variables' as *;

.trigger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: right;
  @include respond-sm {
    display: block;
    margin-left: 1rem;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: #f7f7f7;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  overflow-y: auto;
  display: none;
  @include respond-sm {
    display: block;
  }
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: $black;
  svg {
    font-weight: 900;
  }
  &:hover {
    color: $red;
  }
}

.logo {
  text-align: center;
  margin: 4rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.item {
  background: none;
  text-align: center;
  font-size: 0.875rem;
  color: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  padding: 1.5rem;

  &:hover {
    color: $red;
  }
}

.active {
  background: white;
  color: $red;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.seachWrapper {
  margin-bottom: 2rem;
}
