@use '../../styles/variables' as *;

.wrapper {
  margin-top: $spacing-md;
}

.tabs {
  display: flex;
  gap: $spacing-md;
  justify-content: center;
  margin-bottom: $spacing-lg;

  button {
    background: transparent;
    border: none;
    padding: $spacing-sm $spacing-lg;
    border-radius: $border-radius-xl;
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    cursor: pointer;
    transition: background 0.2s;
    &:hover {
      color: $color-primary;
    }
  }

  .active {
    background: rgba($color-primary-rgb, 10%);
    color: $color-primary;
    &:hover {
      background: rgba($color-primary-rgb, 5%);
    }
  }
}

.featured {
  padding: 0 0 $spacing-lg 0;
  gap: $spacing-lg;
  @include respond-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;
  }
  @include respond-xs {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-md;
  }
}
