@use '../../styles/variables' as *;

.logo {
  font-size: $font-size-lg; // Use font size variable
  font-weight: $font-weight-extra-bold; // Use font weight variable
  color: $color-primary; // Use primary color variable

  span {
    color: $color-text-black; // Use dark text color variable
    font-weight: $font-weight-extra-bold; // Use font weight variable
  }
}

.center {
  text-align: center;
}
