@use '../../styles/variables' as *;

$button-border-radius: 6px;
$input-gray: rgb(192, 189, 189);

.header {
  width: 100%;
  background: $color-bg-light;
  box-sizing: border-box;
  border-bottom: 1px solid $color-border;
  display: flex;
  align-items: center;
  padding-bottom: $padding-layout-md;
  background-color: transparent;
  flex-wrap: nowrap;
  gap: $spacing-md;
  @include respond-sm {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-bottom: $padding-layout-sm;
  }

  .logo {
    margin-right: $spacing-xl;
  }
}

.userMenu {
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include respond-sm {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-content: space-between;
  }
}

.authBtn {
  border: none;
  background: transparent;
  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}
