@use '../../styles/variables' as *;

.container {
  max-width: 1150px;
  margin: auto;
  padding: $padding-layout-lg;
  @include respond-md {
    padding: 1.5rem;
  }
  @include respond-sm {
    padding: $padding-lg;
  }
}

.layout {
  display: flex;
  background: $color-bg-gray;
  align-items: flex-start;
  gap: $spacing-md;
}

.mainContent {
  display: grid;
  gap: $spacing-lg;
  padding: 1.5rem 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: min-content;
  @include respond-md {
    grid-template-columns: 1fr 1fr;
    gap: $spacing-md;
  }
  @include respond-sm {
    display: none;
  }
}

.mobileMainContent {
  display: none;
  padding: 1.5rem 0;
  @include respond-sm {
    display: block;
  }
}
