@use './variables.scss' as *;

#root {
  background-color: $color-bg-gray;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

main {
  flex: 1;
  padding: 2rem;
}
