@use './variables.scss' as *;

.sidebar {
  width: $sidebar-width;
  padding: $padding-vertical 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-bg-gray;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    color: $color-text;
    cursor: pointer;
    font-size: $font-size-label;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;

    svg {
      font-size: $icon-size;
      margin-bottom: 0.25rem;
    }

    &.active {
      color: $color-accent;
      background-color: $color-bg-light;

      svg {
        color: $color-accent;
      }

      font-weight: bold;
    }

    &:hover {
      background-color: $color-hover;
    }
  }
}
