@use '../../styles/variables' as *;

$input-gray: rgb(192, 189, 189);

.searchWrapper {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 725px;
  padding: $spacing-xxs;
  padding-left: $spacing-md;
  background-color: $white;
  border-radius: $border-radius-md;
  justify-content: center;
  align-items: center;
  @include respond-sm {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  input {
    flex: 1;
    padding: $spacing-xs $spacing-md;
    border: none;
    font-size: $font-size-md;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $input-gray;
      font-size: $font-size-md;
    }
  }

  .searchBtn {
    background: $color-primary;
    color: $white;
    border: none;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-md;
    cursor: pointer;
    font-weight: $font-weight-bold;
    @include respond-sm {
      display: none;
    }
  }
  .searchIcon {
    color: $input-gray;
  }
}
